*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	--color-text: #111;
	--color-bg: #fff;
	--color-link: #000;
	--color-link-hover: #333;
}

body {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}

.frame {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	max-width: 1200px;
	z-index: 1;
}

.frame a:not(.frame__title-back) {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.frame__title-links-wrap {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.frame__title {
	font-size: 1.5rem;
	margin: 2rem 0;
}

.frame__title-main {
	font-size: 1rem;
	margin: 0;
	font-weight: normal;
}

.frame__title-back {
	position: relative;
	display: flex;
	align-items: flex-end;
	margin-bottom: 0.15rem;
}

.frame__title-back span {
	display: none;
}

.frame__title-back svg {
	fill: currentColor;
}

.frame__prev {
	grid-area: prev;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	justify-content: flex-start;
	align-items: center;
}

@media screen and (min-width: 53em) {
	.content {
		height: 100vh;
		justify-content: center;
	}
}

.frame__title-wrap {
	opacity: .5;
}
.frame__links,
.frame__demos {
	display: flex;
	align-items: center;
	justify-content: end;
}
.frame__links > a {
	margin: 1em;
	text-decoration: underline;
}
.frame__demos > a {
	margin: 0 0 0 1em;
}
.frame__demo {
	color: #ffffff;
	background-color: rgba(0, 0, 0, .3);
	border: 1px solid rgba(0, 0, 0, .3);
	padding: .2rem .8rem;
	border-radius: 1.5rem;
	transition: all .15s ease-in-out;
}
.frame__demo--current {
	color: var(--color-link-hover);
	background-color: rgba(255, 255, 255, .3);
}
